{{- $name := "Varun Datt" -}}
{{- $email := "35286616+varun-datt@users.noreply.github.com" -}}
{{- $sshKey := "~/.ssh/id_ed25519" -}}

diff:
  pager: "delta"

git:
  autoAdd: true
  autoCommit: true

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  sshKey: {{ $sshKey | quote }}
