{{ if eq .chezmoi.os "windows" -}}
#!/usr/bin/env pwsh

# Install packages
{{ $packageFilePath := "packages/ChocoPackages.config" }}
echo "hash: {{ include $packageFilePath | sha256sum }}"
choco install -y "$(chezmoi source-path)/packages/ChocoPackages.config"

if (!(Test-Path -Path $env:LOCALAPPDATA\nvim)) {
  git clone --depth 1 https://github.com/AstroNvim/AstroNvim $env:LOCALAPPDATA\nvim
}

{{ end -}}
