Include config.d/*

Host *
  AddKeysToAgent yes
  ForwardAgent no
  ForwardX11 no
  IdentitiesOnly yes
  HashKnownHosts yes
  ServerAliveInterval 60
  ServerAliveCountMax 3
{{ if eq .chezmoi.os "darwin" }}  UseKeychain yes{{ end }}
