{{- $c := .catppuccin.palette.mocha -}}
# Catppuccin Mocha palette (from .chezmoidata/catppuccin.yaml)
set $rosewater {{ $c.rosewater }}
set $flamingo {{ $c.flamingo }}
set $pink {{ $c.pink }}
set $mauve {{ $c.mauve }}
set $red {{ $c.red }}
set $maroon {{ $c.maroon }}
set $peach {{ $c.peach }}
set $yellow {{ $c.yellow }}
set $green {{ $c.green }}
set $teal {{ $c.teal }}
set $sky {{ $c.sky }}
set $sapphire {{ $c.sapphire }}
set $blue {{ $c.blue }}
set $lavender {{ $c.lavender }}
set $text {{ $c.text }}
set $subtext1 {{ $c.subtext1 }}
set $subtext0 {{ $c.subtext0 }}
set $overlay2 {{ $c.overlay2 }}
set $overlay1 {{ $c.overlay1 }}
set $overlay0 {{ $c.overlay0 }}
set $surface2 {{ $c.surface2 }}
set $surface1 {{ $c.surface1 }}
set $surface0 {{ $c.surface0 }}
set $base {{ $c.base }}
set $mantle {{ $c.mantle }}
set $crust {{ $c.crust }}
