{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

set -e

if [[ $(command -v brew) == "" ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install packages
{{ $brewfilePath := "packages/Brewfile" }}
echo "hash: {{ include $brewfilePath | sha256sum }}"
brew bundle --file "$(chezmoi source-path)/packages/Brewfile"

# Finder
defaults write com.apple.finder "AppleShowAllFiles" -bool "true"
defaults write com.apple.finder "FXDefaultSearchScope" -string "SCcf" 
defaults write com.apple.finder "FXPreferredViewStyle" -string "Nlsv"
killall Finder

# Global
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "true"
defaults write NSGlobalDomain KeyRepeat -int 0
defaults write NSGlobalDomain InitialKeyRepeat -int 10

# Menu
defaults write com.apple.menuextra.clock "DateFormat" -string "\"EEE d MMM HH:mm:ss\"" 
defaults write com.apple.menuextra.clock "ShowDayOfWeek" -bool "true"

# Dock
defaults write com.apple.dock "autohide" -bool "true" && killall Dock

{{ end -}}
